*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-bold{font-weight: bold;}

.bg-white{background-color: white;}

header{
    padding: 0.25rem 0.25rem 0rem 1rem;
}

#logo{
    font-family: "Nerko One", cursive;
    font-size: 2rem;
    color: #FF9512;
    text-align: center;
}

main{
    background-color: #F6F5F3;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat;
}

h4.category{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 0.75rem;
    color: #A0A2A3;
    margin: 1rem 0rem 0.5rem 0rem;
}

h2.title{
    font-family: Helvetica;
    font-size: 1.25rem;
    font-weight: 700;
    color: #473163;
    margin-bottom: 1rem;
}

h2.title > span{
    display: none;
}

.container-video{
    display: flex;
    flex-direction: column;
}

section.summary{
    padding: 1.5rem 0rem 1rem 2rem;
}

.summary h3{
    margin-bottom: 1.5rem;
}

li{list-style: none;}

.container-video li{
    font-size: 0.75rem;
    margin: 0rem 0rem 0.75rem 0rem;
}

nav.social{
    padding: 1rem 0rem 1rem 0rem;
}

.container-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-social  li{
    display: inline-block;
}

.social-button{
    display: inline-block;
    height: 2rem;
    border-radius: 13px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    background-color: white;
    box-shadow: 5px 5px 2.5px #dedede;
}

.social-image{
    /* object-fit: cover; */
    height: 100%;
}


.container-presentation img{
    display: block;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 0.5rem;
}

.container-presentation h3{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.container-presentation hr{
    background-color: #F78C17;
    display: inline-block;
    height: 0.15rem;
    width: 4rem;
    margin-bottom: 0.5rem;
}

.container-presentation p{
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
}

footer{
    background-color: #7C69A4;
    color: white;
    font-family: Montserrat;
    font-size: 0.65rem;
    padding: 1rem;
}

.container-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-footer-links  ul{
    text-align: center;
}

.container-footer-links  li{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.container-footer-links  li > a{
    color: white;
}

.container-footer p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.container-footer address{
    font-style: normal;
    text-align: center;
    margin-bottom: 0.5rem;
}