*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classi generiche */

.f-bold{font-weight: bold;}

.bg-white{background-color: white;}

.d-flex{display: flex;}

.m-bottoms{margin-bottom: 0.5rem;}

li{list-style: none;}

header{
    padding: 0.25rem 0.25rem 0rem 1rem;
}

#logo{
    font-family: "Nerko One", cursive;
    font-size: 3rem;
    color: #FF9512;
    text-align: center;
}

main{
    background-color: #F6F5F3;
}

.container-main{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat;
}

h4.category{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1rem;
    color: #A0A2A3;
    margin: 1rem 0rem 0.5rem 0rem;
}

h2.title{
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: 700;
    color: #473163;
    margin-bottom: 1.5rem;
}

h2.title > span{
    display: none;
}

.container-video{
    flex-direction: column;
    z-index: 1;
}

div.video{
    position: relative;
}

div.video img.video-preview{
    object-fit: cover;
    width: 100%;
    height: auto;
    /* height: 16rem; */
    /* min-height: 16rem;
    max-height: 20rem; */
}

.video-description{
    align-items: center;
    position: absolute;
    gap: 0.25rem;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;
}

div.video-description img{
    width: 2.5rem;
    border-radius: 50%;
}

div.video-description span{
    color: white;
    font-size: 1rem;
}

.watch-on-youtube{
    align-items: center;
    position: absolute;
    background-color: black;
    opacity: 70%;
    gap: 0.25rem;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 3;
    padding: 1rem 1rem;
}

div.watch-on-youtube img{
    width: 2.5rem;
}

div.watch-on-youtube span{
    color: white;
    font-size: 1rem;
}

div.video-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
    background-color: #7C69A4;
    font-size: 1.5rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
}

.video-you-tube-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-video li{
    font-size: 1rem;
    margin: 0rem 0rem 0.8rem 0rem;
}

.container-video li:last-child{
    margin: 0rem 0rem 1.6rem 0rem;
}

.summary h3{
    margin-bottom: 1.5rem;
}

section.summary{
    padding: 1.6rem 2rem 1rem 2rem;
}

nav.social{
    margin: 2rem 0rem 2rem 0rem;
}

nav.social > ul > li span{
    display: none;
}

.container-social  li{
    display: inline-block;
}

.container-social{
    justify-content: space-between;
    text-align: center;
}

.social-button{
    display: inline-block;
    height: 2rem;
    border-radius: 13px;
    padding: 0.5rem 0.75rem;
    box-shadow: 5px 5px 2.5px #dedede;
}

.social-image{
    height: 100%;
}

.banner{
    display: none;
}

.container-presentation h3{
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

.container-presentation hr{
    background-color: #F78C17;
    display: block;
    height: 0.15rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}

.container-presentation img{
    display: block;
    margin: 0rem auto;
    margin-bottom: 1.5rem;
    width: 65%;
}

.container-presentation p{
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

footer{
    background-color: #7C69A4;
    color: white;
    font-family: Montserrat;
    font-size: 0.9rem;
    padding: 2rem 2rem;
}

.container-footer{
    flex-direction: column;
    flex-wrap: wrap;
}

.container-footer p{
    text-align: center;
}

.container-footer-links ul{
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: space-evenly;
}

.container-footer address{
    font-style: normal;
    text-align: center;
}

.container-footer-links  li > a{
    color: white;
}

@media screen and (min-width: 768px) {
    
    #logo{
        text-align: left;
    }
    
    h2.title > span{
        display: inline-block;
    }

    section.summary ul{
        display: flex;
        flex-wrap: wrap;
    }

    section.summary li{
        width: calc(100% / 3);
        margin: 0rem 0rem 1.5rem 0rem;
    }

    .banner{
        display: inline;
        margin-bottom: 2rem;
    }

    .container-social  ul{
        justify-content: space-between;
    }

    .container-social  li{
        width: calc(100% / 6);
    }

    .social-button{
        text-align: center;
        width: 100%;
    }

    

    .container-presentation img{
    float: inline-start;
    margin: 0rem 0.5rem 0.5rem 0rem;
    width: 65%;
    }

    .container-presentation p{
        display: inline;
    }

}

@media screen and (min-width: 992px) {

    .container-video{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    section.summary{
        flex-basis: 30%;
    }

    div.video{
        flex-basis: 70%;
    }

    section.summary ul{
        display: inline-block;
    }

    section.summary li{
        width: auto;
    }

    nav.social > ul > li span{
        display: inline-block;
        margin-left: 0.5REM;
        font-weight: bold;
        color: black;
    }

    .container-footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container-footer p{
        text-align: left;
    }

    .container-footer address{
        margin-bottom: 0;
    }

}































